html{
  font-size: 1rem;
}

nav ul{
    scrollbar-width: 0;
    scroll-behavior: smooth;
    scrollbar-width: none; 
  -ms-overflow-style: none;
  cursor: pointer;
}

nav ul li{
    display: flex;
    align-items: center;
    justify-items: center;
    height: 100px;
}

.vegiCard{
  background-color: white;
}

.vegiCard h3{
  font-size: calc(60% + 1vmin);
}

.vegiCard div{
  margin-top: 15px;
}

.discount li:hover{
    font-weight: 600;
}
